<form action="/admin/change" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Поле для логина пользователя -->
    <input type="text" name="userLogin" th:value="${user.userLogin}" required />

    <!-- Выбор роли -->
    <div th:each="role : ${roles}">
        <div>
            <label>
                <input type="radio" name="newRole" th:value="${role}"
                       th:checked="${user.roles.contains(role)}"/>
                <span th:text="${role}">Role Name</span>
            </label>
        </div>
    </div>

    <input type="hidden" th:value="${user.id}" name="userId"/>
    <button type="submit">Save</button>
</form>